@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: theme("colors.primary.dark.900");
    font-family: "Roboto", "Arial", sans-serif;
}

input:focus-visible {
    outline: none;
}

.swiper-slide {
    width: auto !important;
}

.watch-page-grid-container {
    display: grid;
    grid-template-areas:
        "video-player-and-details video-recommendations"
        "video-comments video-recommendations";
    grid-template-columns: 62% 38%;
    grid-gap: 2.4rem;
}

@media screen and (max-width: 1060px) {
    .watch-page-grid-container {
        grid-template-areas:
            "video-player-and-details"
            "video-recommendations"
            "video-comments";
        grid-template-columns: 1fr;
    }
}

.video-player-and-details-container {
    grid-area: video-player-and-details;
}

.video-recommendations {
    grid-area: video-recommendations;
}

.video-comments {
    grid-area: video-comments;
}
